header {
    background-color: blue;
}

div {
    background-color: cadetblue;
    color:aliceblue;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: darkolivegreen;
}

h2 {
    background-color:darkcyan;
}

img {
    size: 200vmax;
    border: 8%;
    border-radius: 10pc;
}

h3 {
    background-color: darkolivegreen;
    color: bisque;
}