header {
    background-color: blue;
}

div {
    background-color: cadetblue;
    color:aliceblue;
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: darkolivegreen;
}

h2 {
    background-color: cadetblue;
}

h3 {
    color: bisque;
}